<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lab.mybatis.user.UserMapper">

	<select id = "getCommentList" resultType="lab.spring.model.CommentVO">
	select * from KD_COMMENT
	</select>

  <select id="getKinderList" resultType="lab.spring.model.KinderInfoVO">
  	select * from KINDERINFO
  </select>
  
  <select id="login" resultType="lab.spring.model.UserVO" parameterType="hashmap">
  	select * from userinfo where userid=#{uid} and userpwd=#{upwd}
  </select>

  <select id="findSafety" resultType = "lab.spring.model.SafetyVO" parameterType="hashmap">
           
   select * from safety 
   where gas_ck_dt like '2019%'
   <if test="fire_avd_yn != null">
     AND fire_avd_yn like #{fire_avd_yn}
   </if> 
  </select>
  
  <insert id="addComment" parameterType="lab.spring.model.CommentVO">
 insert into kd_comment (cmid, kdid, writer, idate, contents, score) 
 values (comment_seq.nextval,#{kdid},#{writer},sysdate,#{contents},#{score})
  </insert>


</mapper>